/*:host {
  width: 250px;
}*/

.tool {
  margin: 0;
  background-color: var(--site-background-light);
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid var(--site-background-light);
  transition: all 0.1s ease;
  display: flex;
  flex-direction: row;
  width: 320px;
  justify-content: space-between;
  align-items: center;
}

.tool:hover {
  transform: scale(1.05);
  border: 2px solid gold;
  font-weight: bold;
}

.tool-icon {
  width: 70px;
  height: auto;
  margin: 0;
  padding: 0;
}

.tool-name {
  color: white;
  margin: 0;
  padding: .5rem;
  font-size: 1.75rem;
}

@media (max-width: 800px) {
  .tool {
    padding: 0;

    width: fit-content;
    background-color: transparent;

    border: none;
  }

  .tool:hover {
    transform: scale(1);
    border: none;
  }

  .tool-name {
    display: none;
  }
}
