<section>
  @if (project?.banner && project?.title) {
    <img class="banner" src="{{project?.banner}}" alt="{{project?.title}}">
  }
  <h1>{{project?.title}}</h1>

  @if (project?.link) {
    <div class="project-section">
      <a href="{{project?.link}}">{{project?.title}} Link</a>
    </div>
  }

  <div class="project-section">
    <div>
      <p [innerHTML]="project?.desc"></p>
    </div>
  </div>

  @for (section of project?.sections; track section) {
    <div class="project-section">
      @if (section?.image != '') {
        <img src="{{section.image}}" alt="{{section.image}}">
      }
      @if (section?.text != '') {
        <div>
          <p [innerHTML]="section.text"></p>
        </div>
      }
    </div>
  }
</section>
