<!--<section class="projects-section">
  <div class="project-list">
    @for (game of game_projects; track game_projects) {
      <div class="project-entry">
        <div class="project-image-container">
          <img class="image" [src]="game.img" [alt]="game.title">
          <img class="type" [src]="game.type" [alt]="">
        </div>
        <div class="project-info">
          <h3>{{ game.title }}</h3>
          <p>{{ game.description }}</p>
        </div>
      </div>
    }
  </div>
</section>-->

<section class="projects-section">
  <h1>My Projects</h1>
  <div class="projects-container">
    <div class="project-group">
      <h2>Web Development</h2>
      <div class="project-list">
        @for (project of web_projects; track web_projects) {
          <app-project-card [title]="project.title" [image]="project.image" [desc]="project.desc" [icon]="project.icon"></app-project-card>
        }
      </div>
    </div>
    <div class="project-group">
      <h2>Game Development</h2>
      <div class="project-list">
        @for (project of game_projects; track game_projects) {
          <app-project-card [title]="project.title" [image]="project.image" [desc]="project.desc" [icon]="project.icon"></app-project-card>
        }
      </div>
    </div>
  </div>
</section>
