.wrapper {

}

.wrapper.featured h1 {
  position: absolute;

  top: 0;
  left: 0;

  margin: 0;
  padding: 0.25rem 1rem;

  background: gold;
  color: black;

  font-weight: bold;
  font-size: 2rem;

  line-height: 1;

  border-radius: 0 0 20px 0;
  border: 2px solid gold;

  z-index: 2;

  @media (max-width: 1250px) {
    font-size: 1.5rem;
  }

  @media (max-width: 525px) {
    font-size: 1.25rem;
  }
}

.wrapper.featured .content {
  aspect-ratio: 32 / 9;

  border-radius: 20px;

  @media (max-width: 800px) {
    aspect-ratio: 16 / 9;
  }
}

.content {
  position: relative;

  width: 100%;
  aspect-ratio: 16 / 9;

  overflow: hidden;
  border-radius: 0.5rem;

  border: 2px solid transparent;
  box-sizing: border-box;
}

@media (hover: hover) {
  .content:hover {
    cursor: pointer;
    border: 2px solid gold;
  }
}

.content:active {
  border: 2px solid gold;
}

.image {
  background-color: transparent;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform 0.2s ease;
}

@media (hover: hover) {
  .content:hover .image {
    transform: scale(1.05);
  }
}

.info {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  padding: 1rem;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0%,
    rgba(0,0,0,0.3) 70%,
    rgba(0,0,0,0.0) 100%
  );

  text-align: left;
}

.info h3 {
  margin: 0;

  @media (max-width: 1250px) {
    font-size: 1.25rem;
  }

  @media (max-width: 800px) {
    font-size: 1.75rem;
  }

  @media (max-width: 525px) {
    font-size: 1.25rem;
  }
}

.info p {
  margin: 0.25rem 0 0 0;

  @media (max-width: 1250px) {
    font-size: 0.8rem;
  }

  @media (max-width: 800px) {
    font-size: 1rem;
  }

  @media (max-width: 525px) {
    font-size: 0.8rem;
  }
}
