<div class="wrapper" [class.featured]="projectCardData.featured" (click)="openProject()">
  <div class="content">
    @if (projectCardData.featured) {
      <h1 class="featured-label">FEATURED</h1>
    }
    <img class="image" [src]="projectCardData.image" [alt]="projectCardData.title" [style.background-color]="projectCardData.specialColor || 'transparent'"/>
    <div class="filter"></div>
    <div class="info">
      <h1 class='title'>{{ projectCardData.title }}</h1>
      <p class="desc">{{ projectCardData.desc }}</p>
    </div>
  </div>
</div>
